<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台模板 HTML</title>
    <link rel="stylesheet" href="/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/frame/static/css/style.css">
    <link rel="icon" href="/frame/static/image/code.png">
    <style>
        /*分页样式*/
        .pagination {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .pagination li {
            margin: 0px 10px;
            border: 1px solid #e6e6e6;
            padding: 3px 8px;
            display: inline-block;
        }

        .pagination .active {
            background-color: #dd1a20;
            color: #fff;
        }

        .pagination .disabled {
            color: #aaa;
        }
    </style>
</head>
<body>

<!-- layout admin -->
<div class="layui-layout layui-layout-admin"> <!-- 添加skin-1类可手动修改主题为纯白，添加skin-2类可手动修改主题为蓝白 -->
    <!-- header -->
    <div class="layui-header my-header">
        <a href="index.html">
            <!--<img class="my-header-logo" src="" alt="logo">-->
            <div class="my-header-logo">搜客宝后台</div>
        </a>
        <div class="my-header-btn">
            <button class="layui-btn layui-btn-small btn-nav"><i class="layui-icon">&#xe65f;</i></button>
        </div>

        <!-- 顶部左侧添加选项卡监听 -->
        <ul class="layui-nav" lay-filter="side-top-left">
            <!--<li class="layui-nav-item"><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe621;</i>基础</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></dd>
                    <dd><a href="javascript:;" href-url="demo/form.html"><i class="layui-icon">&#xe621;</i>表单</a></dd>
                </dl>
            </li>-->
        </ul>

        <!-- 顶部右侧添加选项卡监听 -->
        <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right">
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><i class="layui-icon">&#xe629;</i>主题</a>
                <dl class="layui-nav-child">
                    <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                    <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                    <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><img src="/frame/static/image/code.png" alt="logo"> {$admin_name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('Login/singOut')}"><i class="layui-icon">&#x1006;</i>退出</a></dd>
                </dl>
            </li>
        </ul>

    </div>
    <!-- side -->
    <div class="layui-side my-side">
        <div class="layui-side-scroll">
            <!-- 左侧主菜单添加选项卡监听 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
                <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('User/index')}"><i class="layui-icon">&#xe621;</i>用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>信息审核</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('User/agent')}"><i class="layui-icon">&#xe621;</i>卖房消息审核</a></dd>
                        <dd><a href="{:url('User/getMsg')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>求购信息审核</a></dd>
                        <dd><a href="{:url('User/rentMsg')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>租房信息审核</a></dd>
                        <dd><a href="{:url('User/recruitMsg')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>招聘信息审核</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('Info/index')}" href-url="demo/login.html"><i class="layui-icon">&#xe621;</i>卖房信息</a>
                        </dd>
                        <dd><a href="{:url('Info/infoGet')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>求购信息</a></dd>
                        <dd><a href="{:url('Info/infoRent')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>租房信息</a></dd>
                        <dd><a href="{:url('Info/infoRecruit')}" href-url="demo/login.html"><i class="layui-icon">
                            &#xe621;</i>招聘信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('System/category')}"><i class="layui-icon">&#xe621;</i>分类列表</a></dd>
                        <dd><a href="{:url('System/index')}"><i class="layui-icon">&#xe621;</i>设置经纪人付款金额</a></dd>
                        <dd><a href="{:url('System/editAdmin')}"><i class="layui-icon">&#xe621;</i>管理员信息</a></dd>
                    </dl>
                </li>

            </ul>

        </div>
    </div>