
{include file="public/header" /}
<!-- body -->
<div class="layui-body my-body">
    <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe638;</i>用户添加页</span></li>
        </ul>
        <div class="layui-tab-content" style="margin-left: 20px">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>用户添加</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" action="" id="formdata" method="post">
                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">长输入框</label>-->

                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="title" autocomplete="off" placeholder="请输入标题" lay-verify="required"-->
                               <!--class="layui-input">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>

                    <div class="layui-input-inline">
                        <input type="text" name="user_name" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系电话</label>

                    <div class="layui-input-inline">
                        <input type="text" name="phone" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色选择</label>

                    <div class="layui-input-block">
                        <select name="role" lay-filter="aihao">
                            <option value=""></option>
                            <option value="0">个人</option>
                            <option value="1" selected="">经纪人</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit="" lay-filter="sub">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- footer -->
<div class="layui-footer my-footer">

</div>
</div>

<!-- 右键菜单 -->
<div class="my-dblclick-box none">
    <table class="layui-tab dblclick-tab">
        <tr class="card-refresh">
            <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
        </tr>
        <tr class="card-close">
            <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
        </tr>
        <tr class="card-close-all">
            <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
        </tr>
    </table>
</div>
{include file="public/header_js" /}
</body>
</html>
<script src="../frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit



        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(sub)', function (data) {
            var formData = $("#formdata").serialize();
            $.ajax({
                type:"post",
                url:"{:url('User/add')}",
                data: formData,//这里data传递过去的是序列化以后的字符串
                success:function(data){
                    if(data){
                        window.location.href=`/admin/User/index`;
                    }
                }
            });
        });

        // you code ...


    });
</script>